[:rename
 {x4 $column_1$}
 [:project
  [{x4 4}]
  [:rename
   {xt__valid_from x1, xt__valid_to x2}
   [:select
    (<=
     #time/zoned-date-time "3000-01-01T00:00Z"
     #time/date "3001-01-01")
    [:scan
     {:table t1}
     [{xt__valid_from
       (<= xt__valid_from #time/date "3001-01-01")}
      {xt__valid_to
       (>
        xt__valid_to
        #time/zoned-date-time "3000-01-01T00:00Z")}]]]]]]
