[:scan
 {:table foo,
  :for-sys-time [:in #time/date "2001-01-01" #time/date "2002-01-01"]}
 [{xt__valid_from
   (and
    (< xt__valid_from #time/date "2004-01-01")
    (= xt__valid_from 4))}
  {xt__valid_to
   (and
    (> xt__valid_to #time/date "2000-01-01")
    (> xt__valid_to 10))}
  {system_time_start (= system_time_start 20)}
  {system_time_end (<= system_time_end 23)}]]
