[:update
 {:table "users"}
 [:rename
  {x2 _iid,
   x3 _row-id,
   x6 system_time_start,
   x7 system_time_end,
   x9 first_name,
   x10 xt__valid_from,
   x11 xt__valid_to}
  [:project
   [x2
    x3
    x6
    x7
    {x9 ?_2}
    {x10 (cast-tstz (greatest x4 ?_0))}
    {x11 (cast-tstz (least x5 ?_1))}]
   [:rename
    {id x1,
     _iid x2,
     _row-id x3,
     xt__valid_from x4,
     xt__valid_to x5,
     system_time_start x6,
     system_time_end x7}
    [:scan
     {:table users, :for-app-time [:between ?_0 ?_1]}
     [{id (= id ?_3)}
      _iid
      _row-id
      xt__valid_from
      xt__valid_to
      system_time_start
      system_time_end]]]]]]
