[:update
 {:table "foo"}
 [:rename
  {x5 _iid,
   x6 _row-id,
   x1 system_time_start,
   x2 system_time_end,
   x8 bar,
   x9 xt__valid_from,
   x10 xt__valid_to}
  [:project
   [x5
    x6
    x1
    x2
    {x8 (and (< x1 x4) (> x2 x3))}
    {x9 (cast-tstz x3)}
    {x10 (cast-tstz x4)}]
   [:rename
    {system_time_start x1,
     system_time_end x2,
     xt__valid_from x3,
     xt__valid_to x4,
     _iid x5,
     _row-id x6}
    [:scan
     {:table foo}
     (system_time_start
      system_time_end
      xt__valid_from
      xt__valid_to
      _iid
      _row-id)]]]]]
