[:rename
 {x4 name}
 [:project
  [x4]
  [:apply
   :single-join
   {x1 ?x8, x2 ?x9}
   [:rename
    {xt__valid_from x1, xt__valid_to x2}
    [:scan {:table bar} [xt__valid_from xt__valid_to]]]
   [:project
    [x4]
    [:rename
     {name x4, xt__valid_from x5, xt__valid_to x6}
     [:scan
      {:table foo}
      [name
       {xt__valid_from (< xt__valid_from ?x9)}
       {xt__valid_to (> xt__valid_to ?x8)}]]]]]]]
