[:rename
 {x1 name}
 [:project
  [x1]
  [:rename
   {name x1, xt__valid_from x2, xt__valid_to x3}
   [:select
    (and
     (< xt__valid_from xt__valid_to)
     (> xt__valid_to xt__valid_from))
    [:scan
     {:table foo}
     [name xt__valid_from xt__valid_to]]]]]]
